// ## COLORS ##

$White: #FFFFFF;
$Black: #171717;
$Orange: #FF6000;
$Gray: #454545;
$Gray-light: #EDEDED;

// ## FONT SIZES ##

$Title: 4rem;
$Paragraph: 1.6rem;
$Subtitle: 2.5rem;
$Copy: 1.2rem;
$Logo: 2rem;
$Icon: 3rem;


// ## FONT FAMILY ##

$Poppins: 'Poppins', sans-serif;